/* Typography */

* {
	font-family: 'Lucida Grande', sans-serif;
}

p, li, h1 {
	color:#666;
	line-height: 2em;
	letter-spacing: .007em;
}

h1 {
	margin: 18px 0 9px 0;
	font-size: 2.9em;
	font-weight: normal;
	letter-spacing: 1px;
}

p, li {
	font-size: 16px;
}

p {
	margin: 0 0 10px;
}

ul {
	margin-bottom: 10px;
}

h2 {
	color:#f07c17;
	padding: 0;
	margin: 0 0 28px;
	font-size: 24px;
}

/* Layout */

.container {
    
    /* margin: 0 auto; centered layout */
    margin: 0 34px; /* comparison layout */
    max-width: 970px;
    width: 100%;
}

.btn {
	position: absolute;
	top: 30px;
	right: 38px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: "Lucida Grande", sans-serif;
    color: #fff;
    font-size: 12px;
    background: #FF7C17;
    padding: 8px 16px;
    text-decoration: none;
}

header {
	text-align: center;
	padding-right: 29px;
}

.leftcol {
	width: 374px;
}

figure {
	margin: 0 0 27px 0;
}

figure img{
	width: 100%;
}

aside {
	border: 1px solid #ccc;
	padding: 30px;
}

article {
	padding: 0 0 0 30px;
}

#mockup {
	margin: -8px -42px;
	padding: 0;
}